<!-- Cabeçalho -->
<header id="header" class="">

    <!-- Seção de imagem -->
    <div class="header-image bg-info">
        <!-- <div class="header-image"></div> -->
        <img src="/site_headrr.png" alt="">
    </div>
    
</header>


<!-- Menu de navegação -->
<nav id="navbar-container" class="navbar navbar-expand-md fixed-top fixed-theme py-0">
    <a id="brand" class="navbar-brand" href="#">
        Vivendo.tech 
    </a>
        
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse px-2" id="navbar">
        
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">
                Home 
                <span class="sr-only">(current)</span>
            </a>

            <a class="nav-item nav-link" href="#videos">
                Videos 
            </a>

            <a class="nav-item nav-link" href="#linguagens">
                Linguagens 
            </a>

            <a class="nav-item nav-link" href="#contato">
                Contato 
            </a>
        </div>
    
    </div><!-- /.nav-collapse -->
</nav>
