/*
* Style 
* --------------------------------------------------
*/

@import "/navbar.css";

html,
body {
    /* overflow-x: hidden;  */

}


body {
    /* padding-top: 100px;  */

}

.header-image{
    height: 25rem;
    overflow: hidden;

}

.header-image img {
    height: 100%;

}

/*
 * caixa de apresentação
 */
 .jumbotron{
    margin-top: 10px;
    background-color: rgba(28, 4, 59, 0.7);
    color: rgb(22, 21, 21);

}

footer {
    background-color: #efefef;
    text-align: center;

}

.btn-twitch {
    background-color: #503484;
    border-color: #503484;
    color: white;

}
  
.btn-twitch:hover {
    background-color: #2e135f;
    border-color: #503484;
    color: white;

}
