/*
* Style 
* --------------------------------------------------
*/

@import "/navbar.css";

html,
body {
    /* overflow-x: hidden;  */

}


body {
    /* padding-top: 100px;  */
    background: #dbdbdb;

}

.header-image{
    height: 25rem;
    overflow: hidden;

}

.header-image img {
    height: 100%;

}

/*
 * caixa de apresentação
 */
.jumbotron{
    margin-top: 10px;background-color: rgba(95, 78, 117, 0.7);
    border: solid 4px #5f4e75;
    color: rgb(22, 21, 21);

}

footer {
    background-color: #efefef;
    text-align: center;

}

.btn-twitch {
    background-color: #503484;
    border-color: #503484;
    color: white;

}
  
.btn-twitch:hover {
    background-color: #2e135f;
    border-color: #503484;
    color: white;

}
